<div class="stonetop-lore-arcana-major">
	{{#if arcanaImage.img}}<img class="stonetop-lore-arcana-img" src="{{arcanaImage.img}}" data-name="{{arcanaImage.name}}" alt="" title="{{arcanaImage.name}}">{{/if}}
	<span class="stonetop-lore-arcana-name">{{arcanaImage.name}}</span>
</div>
