<div class="tab notes{{#unless stonetop.editMode}} stonetop-readonly{{/unless}}" data-group="primary" data-tab="notes">
	<section class="sheet-tab steading-notes">
		<textarea class="steading-notes-input" placeholder="Session notes, events, hooks…">{{stonetop.notes}}</textarea>
	</section>
</div>
