<div class="tab notes" data-group="primary" data-tab="notes">
	<section class="sheet-tab steading-notes">
		<prose-mirror class="steading-notes-editor" toggled>
			{{{stonetop.enrichedNotes}}}
		</prose-mirror>
	</section>
</div>
