<div class="tab stonetop-special-moves" data-group="primary" data-tab="special-moves">

	{{> "stonetop.section-heading" title=(localize "stonetop.sheet.tabs.specialMoves")}}

	<div class="stonetop-special-move-grid">

		<div class="stonetop-special-move-card">
			<h3 class="stonetop-special-move-name">{{localize "stonetop.specialMoves.outfit.title"}}</h3>
			<p class="stonetop-special-move-summary">{{{localize "stonetop.specialMoves.outfit.description"}}}</p>
			<button type="button" class="stonetop-outfit-open-btn">
				<i class="fas fa-suitcase"></i>
				{{localize "stonetop.specialMoves.outfit.button"}}
			</button>
		</div>

	</div>

</div>
